* {
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.buildings {
	padding-top: 40px;
	padding-bottom: 80px;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	flex-wrap: wrap;

}

.building {
	border: 1px solid black;
	border-bottom: none;
	position: relative;
}

.floors {
	display: flex;
	flex-direction: column-reverse;
}

.floor {
	border-bottom: 1px solid black;
	position: relative;
	padding-bottom: 28px;
}

.flats {
	display: flex;
	justify-content: space-evenly;
}

.flat {
	padding: 20px;
	border-left: 1px solid black;
	position: relative;
	padding-bottom: 40px;
	width: 110px;
	text-align: center;
}
.flat:first-child {
	border-left: none;
}

.counter {
	font-family: 'Courier New';
	position: absolute;
	padding: 5px;
	text-align: center;
}

.flat > .counter {
	bottom: 0px;
	left: 0px;
	background-color: #eeeeee;
	width: 100%;
}

.floor > .counter {
	left: 0px;
	bottom: 0px;
	width: 100%;
	background-color: #bbbbbb;
}


.building > .counter {
	left: 0px;
	bottom: 0px;
	transform: translateY(100%);
	background-color: #888888;
	width: 100%;
}

.app >.counter {
	left: 20px;
	top: 20px;
	background-color: #333333;
	color: #fff;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	position: fixed;
	text-align: left;
}

.icos {
	margin-top: 10px;
	position: relative;
	text-align: left;
}

.ico {
	position: relative;
	width: 20px;
	height: auto;
	margin: 5px;
	display: inline-block;
}

.ico>img {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 2;
}

.badge {
	position: absolute;
	top: 0px;
	left: 0px;
	transform: translate(-60%, -60%);
	border-radius: 50%;
	background-color: pink;
	color: #000;
	font-size: 10px;
	width: 20px;
	text-align: center;
	height: 20px;
	z-index: 1;
}

.badge > span {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 100%;
}

.badge--br {
	top: initial;
	left: initial;
	bottom: 0px;
	right: 0px;
	transform: translate(50%, 50%);
	background-color: #666666;
	color: #fff;
}
